@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 0%;
    background-color: #0D0D0D;
    color: white;
}
header{
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 1;
	background-color: #1C1C1C;
	color: whitesmoke;
	text-align: center;
	display: table;
}
nav a{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: color 0.25s, background-color 0.25s;
    display: block;
}
nav a:hover{
    color: #cd3236; /* red */
    background-color: #1C1C1C; /* same color as header */
}
nav a:first-of-type{
    margin-top: 10px;
}
nav{
	position: fixed;
    width: 0px;     /* hidden bis displayNav() */
	height: 100%;
	top: 100px;
	background-color: #151515;
	text-align: center;
	font-size: 1.5rem;
	overflow: hidden;
    z-index: 1;
}
main{
    display: flex;
    flex-flow: column;
    font-size: 18px;
	position: absolute;
	margin-top: 100px;
	width: 100%;
}
section p:first-child{
    text-align: center;
}
section.content{
    width: 700px;
    margin: auto;
    background-color: #1C1C1C;
    padding: 2.1%;
    padding-top: 0.26%;
    padding-bottom: 1.3%;
    margin-top: 2.6%;
    font-size: 16px;
    text-align: left;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
section.content b{
    font-size: 24px;
    color: whitesmoke;
}
section:first-child{
    margin-top: 100px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
h1{
	font-size: 36px;
	display: table-cell;
	vertical-align: middle;
}
hr{
	width: 80%;
	border: 0px;
	border-top: 1px solid #8B8B8B;
}
#menu_icon{
	position: fixed;
	top: 30px;
	left: 30px;
	width: 30px;
	height: 30px;
    z-index: 2;
}
.menu_icon{
	width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
strong{
    font-weight: normal;
}
.openNav{
    width: 200px; /* displayNav() */
    transition: width 0.25s;
}
footer{
    width: 100%;
    height: 70px;
    background-color: #1C1C1C;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}
adress p, adress a{
    margin: 5px;
    margin-left: 30px;
}
adress p:first-of-type{
    margin-top: 15px;
}
adress a{
    text-decoration: none;
    color: #cd3236;
}